body {
    margin: 0 auto;
    width: 1240px;
    background-color: bisque;
}
h1 {
    font-family: Tahoma;
    font-size: 60px;
    font-weight: 600;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 7px;
    background-color: lightgoldenrodyellow;
    display: inline;
    border: 4px solid black;
}
h2 {
    font-family: Courier;
    background-color: rgb(241, 190, 20);
    text-align: center;
    border: 4px solid rgb(165, 30, 20);
    border-style: dashed;
    color: rgb(1, 15, 15);
    font-size: 40px;
}
h3 {
    font-family: Calibri;
    color: rgb(0, 0, 0);
    font-size: 25px;
    -webkit-text-stroke: 1px;
}
p {
    font-family: Arial;
    text-align: justify;
    color: black;
    font-size: 17px;
    text-align: justify;
}
img {
    width: 600px;
}
.menu {
    font-family: Courier;
    font-size: 18px;
    font-weight: 700;
    color: cornflowerblue;
}
.nav {
    font-family: Courier;
    background-color: rgba(241, 190, 20, 50%);
    text-align: center;
    border: 4px solid rgb(165, 30, 20);
    border-style: dotted;
    color: rgb(1, 15, 15);
    font-size: 20px; 
    font-weight: 700;
}
.flag {
    width: 400px;
}
summary {
    font-family: Courier;
    font-size: 18px;
    font-weight: 700;
    color: fuchsia; 
}
.link {
    font-family: Courier;
    font-size: 18px;
    font-weight: 700;
    color: green;
    border: 2px solid; 
} 