body {

    background-color: bisque;
}
h1 {
    font-family: Tahoma;
    font-size: 60px;
    font-weight: 600;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 7px;
    background-color: lightgoldenrodyellow;
    display: inline;
    border: 4px solid black;
    margin-left: 623px;
    background-image: linear-gradient(to right, #010f0f, #a51e14, #f1be14);
    color: #ffffff;
}
h2 {
    font-family: Courier;
    background-color: rgb(241, 190, 20);
    text-align: center;
    border: 4px solid rgb(165, 30, 20);
    border-style: dashed;
    color: rgb(1, 15, 15);
    font-size: 40px;
    width: 1280px;
    margin-left: 623px;

}
h3 {
    font-family: Calibri;
    color: rgb(0, 0, 0);
    font-size: 25px;
    -webkit-text-stroke: 1px;
    margin-left: 623px;
}
p {
    font-family: Arial;
    text-align: justify;
    color: black;
    font-size: 17px;
    text-align: justify;
    width: 1280px;
    margin-left: 623px;

}
img {
    margin-left: 623px;
}
.menu {
    font-family: Courier;
    font-size: 18px;
    font-weight: 700;
    color: cornflowerblue;
    margin-left: 623px;

}
.nav {
    font-family: Courier;
    background-color: rgba(241, 190, 20, 50%);
    
    border: 4px solid rgb(165, 30, 20);
    border-style: dotted;
    color: rgb(1, 15, 15);
    font-size: 20px; 
    font-weight: 700;
    

}
.flag {
    margin-left: 623px;
}
summary {
    font-family: Courier;
    font-size: 18px;
    font-weight: 700;
    color: fuchsia; 

    margin: 0 auto;
    width: 1280px;
}
.link {
    font-family: Courier;
    font-size: 18px;
    font-weight: 700;
    color: green;
    border: 2px solid; 

    margin: 0 auto;
    width: 1280px;
}
hr {
    margin: 0 auto;
    width: 1280px;
}