body {
    background-color: #978897;

}

table, th, td{
    border: 2px solid #494850;
    border-collapse: collapse;
    margin: 0 auto;
    width: 1280px;
}
/* table, summary, .nav, hr, ol{
    width: 1280px;
    margin-left: 270px;
    margin-right: 270px;
} */
a {
    color: brown;
    margin: 0 auto;
    width: 1280px;
}
p, h1, h2, h3, ol, summary{
    font-family: monospace;
    /* color: #F7F7F2; */
    color: #ececfd;
}
p{
    font-size: 18px;
}
summary {
    font-size: 20px;
    width: 1280px;
    margin-left: 280px;
}
th p {
    font-size: 20px;
    font-weight: bold;
    
}

td p {
    font-size: 16px;
}
.opr {
    font-size: 22px;
    font-weight: bold;
    color: #D8D8F6;
    background-color: #494850;
    display: inline;
}
td{
    padding-left: 10px;
    padding-right: 10px;
}
.buttonsCountry{
    background-color: aquamarine;
    margin-left: 100px;
    margin-right: 100px;
}
.nav {
    font-size: 26px;
    font-weight: 400;
    margin: 0 auto;
    width: 1280px;
}

        /* .header {
            text-align: center;
            background-color: blueviolet;
            font-size: 40px;
            margin: 0 auto;
            width: 1280px;
        } */
.header {
    font-family: monospace;
    color: blueviolet;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 7px;
    background-color: lightgoldenrodyellow;
    border: 4px solid #494850;
    margin: 0 auto;
    width: 1280px;
}
ul {
    font-style: italic;
    border: 2px solid rebeccapurple;;
    background-color: rgb(168, 110, 119);
    padding-right: 50px;
    margin-left: 0px;
    margin-right: 0px;
    
}
ol {
    font-weight: bold;
    border: 2px solid rgb(192, 118, 118);
    background-color: rgb(136, 86, 184);
    padding-right: 50px;
    padding-bottom: 30px;
    margin-left: 230px;
    margin-right: 230px;
    width: 1280px;
}
hr {
    margin: 0 auto;
    width: 1280px;
}





