body {
    /* background-color: rgb(228, 178, 228); */
    background-image: linear-gradient(rgb(236, 224, 236), rgb(228, 178, 228));
}

h1 {
    font-family: monospace;
    font-size: 80px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 2px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
    border: 4px dashed black;
    margin-left: 280px;
    
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: overline;
    text-transform: uppercase;
    color: black;
    background-color: rgba(132, 151, 187, 46%);
    margin-left: 280px;
    width: 1280px;
    font-size: 30px;
}

h3 {
    background-color: rgba(210, 105, 30, 20%);
    margin-left: 280px;
    width: 770px;
    font-size: 25px;
}
li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 280px;
    width: 1280px;
    font-size: 20px;
}

img {
    border: 10px solid #362711;
    margin-left: 280px; 
       
}
td {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
ul {
    font-style: italic;
    border: 2px solid #362711;
    background-color: rgba(132, 151, 187, 20%);
    margin-left: 280px;
    width: 1234px;
}
.nav {
    color: rgba(132, 151, 187);
    
}
summary {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 18px;
    width: 1280px;
    margin-left: 280px;
}
.link {
    text-transform: lowercase;
    text-decoration: underline;
    font-size: 18px;
    color: azure;
}
.menu {
    margin-left: 280px;
}


.phr {
    background-color: black;
    padding: 1px;
}
