body {
    margin: 0 auto;
    width: 1240px;
    background-color: azure;
}
h1 {
    font-family: Tahoma;
    font-size: 60px;
    font-weight: 600;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 7px;
    background-color: lightgoldenrodyellow;
    display: inline;
    border: 4px solid black;
}
h2 {
    font-family: Courier;
    background-color: rgb(241, 190, 20);
    text-align: center;
    border: 4px solid rgb(165, 30, 20);
    border-style: dashed;
    color: rgb(1, 15, 15);
    font-size: 40px;
}
h3 {
    font-family: Calibri;
    color: rgb(0, 0, 0);
    font-size: 25px;
    -webkit-text-stroke: 1px;
}
p {
    font-family: Arial;
    text-align: justify;
    color: black;
    font-size: 17px;
    text-align: justify;
}
img {
    background-image: none;
}